div {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; 
    gap: 15px; // Creates space between the columns

    .product-container {
        width: 200px;
        max-width: 300px;
        height: 500px;
        border: 1px solid #000; // Adjust border color as needed
        border-radius: 10px;
        padding: 10px;
        text-align: center;
        background-color: transparent; // Light background for visibility
        margin-top: 30px;
        display: block;
        justify-content: space-between;
        
        &:hover{ 
            cursor: pointer;
        }

        .product-image {
            width: 100%; // Ensures image fills container
            height: 70px; // Maintains aspect ratio
            padding: 5px; // Adds some spacing around the image
            object-fit: contain; // Ensures image fits without distortion
        }
        .sign-up-button{ 
            width: 80px;
            background-color: rgb(196, 193, 193);
            height: 30px;
            cursor: pointer;
            border-radius: 10px;
            margin-bottom: 40px;
            
            &:hover {
                background-color: #777777;
                transition: background-color 0.5s ease-in-out; 
            }
            
        }
        ul {
            list-style-type: disc; /* Ensures bullet points appear */
            padding-left: 20px; /* Adds space for bullets */
            text-align: left; 
        }
        
        li {
            margin-bottom: 20px; 
        }
        .modal-arrow-container {
            width: 100%; 
            height: 40px; 
            padding: 5px; 
            object-fit: contain; 
            justify-content: flex-end;
            transition: opacity 0.3s ease-in-out;
            opacity: 0;
        }
        
    }
    .product-container:hover .modal-arrow-container {
        opacity: 1;
        pointer-events: none; /* Prevents interaction when hidden */
    }
}
